#inserts ul{width:950px; margin-top:5px; height:50px;}
#inserts li {list-style-type: none; padding:3px; margin-right:3px;}
#inserts li a{text-decoration:none; color:#47847D;}

#inserts li a:hover{color:#FF9933;}

.right_menu {
    background-color: #B2C09C;
}


