#menu_program {
    background: none repeat scroll 0 0 #373737;
    padding: 0 0 24px;
    width: 100%;
    margi: 0;
}

#menu_program ul {
    list-style: none outside none;
    margin: 0 0 1em 10px;
    padding: 0;
    text-align: left;
}

#menu_program li {
    display: inline;
    line-height: 1.5em;
    margin: 0 2px 0 0;
    padding: 0;
    text-align: left;
}

#menu_program #current_program a, #menu_program  #current_program span {
    background-color: #575757;
    color: #E2EFFF;
    outline: medium none;
}

#menu_program a {
    color: #7DA5D5;
    float: left;
    margin: 0 2px 0 0;
    outline: medium none;
    padding: 0 0 0 3px;
    text-decoration: none;
}

.det_prog:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.det_prog {
    width: 100%;
    display: block;
    background: none repeat scroll 0 0 #B0B0B0  ;
    border-bottom: 1px solid #000000;
    margin: 0;
    padding: 0 0 24px;
    text-align: left;
    display: inline-table;
}

.leadin:after {
    clear: both;
    content: ".";
    display: block;
    height: auto;
    visibility: hidden;
}

.leadin {
    display: block;
    text-align: left;
    width: 100%;
}

.leadin .info:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.leadin .info {
    display: block;
    display: inline-table;
    float: left;
}

.leadin .rez_info {
    float: right;
    margin: 0;
    padding: 0;
    text-align: left;
}

element.style {
    width: 190px;
    cursor: pointer;
}

.leadin .info h2 a {
    color: #F7941D;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
}

.leadin .info h2 {
    color: #707070;
    font-size: 1.5em;
    font-weight: normal;
}

.italicspan {
    display: block;
    font-style: italic;
    margin: 0;
}

.leadin .info a {
    color: #73A3E1;
    font-size: 1.3em;
    outline: medium none;
    text-decoration: none;
}

.det_prog .leadin .info a {
    color: #73A3E1;
    text-decoration: none;
}

#program_film {
    height: auto;
    width: 95%;
    margin: 10px auto;
}

#news #program_film h3 {
    letter-spacing: 1px;
    height: 2.5em;
    font-size: 1.1em;
    text-transform: uppercase;
}

.btn_r {
    background: url("images/btn_r.gif") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 19px;
    outline: medium none;
    width: 22px;
}

.btn_r span {
    display: none;
}

.det_prog .leadin  p {
    margin-top: 5px;
    margin-left: 10px;
}

.det_prog .leadin  em {
    margin-left: 10px;
}

#news #program_film  h3 {
    background-color: white;
}

.h3class {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}
