body {background-image: url(images/bg.jpg);}
label
{
    width: 5.5em;
    float: left;
    text-align: right;
    margin-right: 1.5em;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}

fieldset
{
    border: 1px solid #781351;
    width: 30em;
    margin:5px auto;
}

legend
{
    color: #fff;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 2px 6px
}

ul {list-style-type:none; padding: 5px; }
li {float:left; padding:3px;}
.content { margin:20px auto; width:600px; height:auto;}
a{text-decoration: none; font-family: Arial SANS-SERIF; font-size: 1em;}